<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".weatherforecastapp.WeatherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp"
        tools:targetApi="31">
        <activity
            android:name=".capstonereaderapp.MainReaderAppActivity"
            android:exported="false"
            android:label="@string/title_activity_main_reader_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".weatherforecastapp.MainWeatherForecastAppActivity"
            android:exported="false"
            android:label="@string/title_activity_main_weather_forecast_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".jettriviaapp.MainTriviaActivity"
            android:exported="false"
            android:label="@string/title_activity_main_trivia"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".noteapp.MainNoteAppActivity"
            android:exported="false"
            android:label="@string/title_activity_main_note_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".tipcalculatorapp.MainTipCalculatorAppActivity"
            android:exported="false"
            android:label="@string/title_activity_main_tip_calculator_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".movieapp.MainMovieAppActivity"
            android:exported="false"
            android:label="@string/title_activity_main_movie_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".bizcardapp.BizCardApp"
            android:exported="false"
            android:label="@string/title_activity_biz_card_app"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Udemy_AndroidJetpackCompose_TheComprehensiveBootcamp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>